{# src/Locazik/AnnonceBundle/Resources/views/Annonce/confirmationCreation.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Confirmation de création de votre annonce{% endblock %}

{% block body %}
<div class="well">
    Votre annonce a bien été créée. <br />
    Elle sera validée sous 24h maximum. <br />
    Cordialement
</div>
{% endblock %}