{# src/Locazik/AnnonceBundle/Resources/views/Annonce/validation.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Validation Annonce{% endblock %}

{% block body %}
<div class="well">
    
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
    </form>
</div>
{% endblock %}