
{% for region in listeRegions %}
    <a href="{{ path('locazik_annonce_listerRegion', { 'id': region.id, 'nom': region.nomRegion }) }}">
        {{ region.nomRegion }}
    </a><br />
{% endfor %}
<div class="clear"></div>