{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} Liste des mots interdits{% endblock %}

{% block body %}
<h1>Liste des mots interdits</h1>

{% for motInterdit in listeMotsInterdits %}
    <li><a href="{{ path('locazik_mot_supprimer', { 'id': motInterdit.id }) }}">{{ motInterdit.mot|e }}</a></li>
{% endfor %}
    
    <a href="{{path('locazik_mot_creer') }}">Ajouter des mots interdits</a>

{% endblock %}
